HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
java_pid8524.hprof.ei3tw2.b.ij/shallow.index
java_pid8524.hprof.ei3tw2.b.ij/retained.index
java_pid8524.hprof.ei3tw2.b.ij/remap.index
java_pid8524.hprof.ei3tw2.b.ij/offsets.index
java_pid8524.hprof.ei3tw2.b.ij/graph.reverse.head
java_pid8524.hprof.ei3tw2.b.ij/graph.reverse.body
java_pid8524.hprof.ei3tw2.b.ij/graph.outbounds
java_pid8524.hprof.ei3tw2.b.ij/graph.inbounds
java_pid8524.hprof.ei3tw2.b.ij/graph.direct.head
java_pid8524.hprof.ei3tw2.b.ij/graph.direct.body
java_pid8524.hprof.ei3tw2.b.ij/dom.index
java_pid8524.hprof.ei3tw2.b.ij/count.index
java_pid8524.hprof.ei3tw2.b.ij/classes.index
*.hprof
